<app-title>Transfer Complete</app-title>

<div class="transfer-complete-container">
  <p class="message">
    Your game data has been transferred to Somebers on this device. To avoid
    confusion, please close this page, remove any bookmarks, and if this is
    saved to a mobile device desktop as a standalone app, delete that app and
    reinstall. Use somebers.com from now on, or install again from that site.
  </p>

  <button mat-raised-button color="primary" (click)="goHome()">
    Go to Home
  </button>
</div>
