<div class="stat-container">
  <div class="stat-item">
    <span class="stat-label">Mistakes</span>
    <span class="stat-value">{{ mistakes }}</span>
  </div>
  <div class="stat-item">
    <span class="stat-label">Streak</span>
    <div class="streak-value-wrapper">
      <span class="stat-value" [class]="streakAnimationClass">
        {{ streak }}
      </span>
      @for (tear of tears; track $index) {
        <div
          class="tear"
          [style.left]="tear.left"
          [style.animation-delay]="tear.animationDelay"
        ></div>
      }
    </div>
  </div>
  @if (accuracy !== null) {
    <div class="stat-item">
      <span class="stat-label">Last 1k Moves</span>
      <span class="stat-value">{{ accuracy | number: "1.1-1" }}%</span>
    </div>
  }
</div>
