<div #positionFinder></div>

<ng-template #headerCellContent>
  <div
    class="cell cell-bg cell-fade bg-muted"
    [class.hidden]="cell.hideBackground"
    [class.disable-animation]="disableAnimation"
    [class.glow-active]="cell?.glowActive"
    [attr.data-glow-variant]="cell?.glowVariant ?? null"
    [attr.data-glow-cycle]="cell?.glowCycle ?? null"
    [style.--columnCount]="columnCount"
  >
    @if (!cell.hideBackground) {
      <div class="corner-number">
        {{ cell.groupNumber }}
      </div>
      <div class="main-number">{{ cell.value }}</div>
    }
  </div>
</ng-template>

<ng-template #standardCellContent let-isMagnifiedView="isMagnifiedView">
  <div
    class="cell cell-bg cell-fade color shape-{{ cell.groupNumber }}"
    [class.wiggle]="cell.invalidMove"
    [class.hidden]="cell.hideBackground"
    [class.processing]="cell.processing && !isMagnifiedView"
    [class.disable-animation]="disableAnimation"
    [class.shape]="shapesMode"
    [class.glow-active]="!isMagnifiedView && cell?.glowActive"
    [attr.data-glow-variant]="cell?.glowVariant ?? null"
    [attr.data-glow-cycle]="cell?.glowCycle ?? null"
    [style.--columnCount]="columnCount"
  >
    <div class="corner-number">
      {{ cell.colorGroupGoalDisplayValue }}
    </div>
    <div
      class="main-number"
      [class.highlighted]="cell.highlighted"
      [class.circle]="cell.status === SelectionStatus.SELECTED"
      [class.cleared-text]="cell.status === SelectionStatus.CLEARED"
    >
      {{ cell.value }}
    </div>
  </div>
</ng-template>

@if (displayType === "blank") {
  <div class="cell"></div>
} @else if (displayType === "header") {
  <div
    appGesture
    (doubleTap)="headerDoubleTapped.emit()"
    (longPress)="isMagnified = true"
    (allGesturesComplete)="gestureComplete()"
  >
    <ng-container *ngTemplateOutlet="headerCellContent"></ng-container>
  </div>

  @if (isMagnified) {
    <div class="magnifier-view">
      <ng-container *ngTemplateOutlet="headerCellContent"></ng-container>
    </div>
  }
} @else if (displayType === "standard") {
  <div
    appGesture
    (touchStart)="touchStart()"
    (tap)="use()"
    (doubleTap)="clear()"
    (contextmenu)="clear(); $event.preventDefault()"
    (swipeUp)="use()"
    (swipeDown)="clear()"
    (longPress)="isMagnified = true"
    (longPressDragHorizontal)="highlightCell()"
    (allGesturesComplete)="gestureComplete()"
  >
    <ng-container
      *ngTemplateOutlet="
        standardCellContent;
        context: { isMagnifiedView: false }
      "
    ></ng-container>
  </div>

  @if (isMagnified) {
    <div class="magnifier-view">
      <ng-container
        *ngTemplateOutlet="
          standardCellContent;
          context: { isMagnifiedView: true }
        "
      ></ng-container>
    </div>
  }
}
