<ng-template #tutorialInstructions>
  <mat-card class="instructions app-font">
    <mat-card-content>
      <div [innerHTML]="currentStepHtml"></div>
    </mat-card-content>

    <mat-card-actions class="step-buttons">
      <div class="step-tracker">
        Step {{ currentStepIndex + 1 }} of {{ steps.length || 1 }}
      </div>

      @if (currentStepIndex < steps.length - 1) {
        <button
          mat-raised-button
          color="primary"
          [disabled]="nextDisabled"
          (click)="nextStep()"
        >
          Next
        </button>
      } @else {
        <a mat-raised-button color="primary" routerLink="/">Play For Real</a>
      }
    </mat-card-actions>
  </mat-card>
</ng-template>

<app-board
  [tutorialHeaderContents]="tutorialInstructions"
  #boardComponent
></app-board>
