.instructions {
  margin-top: 23px;
  margin-left: 15px;
  margin-right: 15px;
  width: 95vw;
  max-width: 600px;
}

.step-tracker {
  margin-right: 18px;
  font-weight: 600;
  color: #0f6a86;
}

.step-buttons {
  justify-content: flex-end;
}