<ng-template #demoInstructions>
  <mat-card class="instructions">
    <mat-card-content>
      {{ currentStep?.body }}

      <div class="step-tracker">
        Step {{ currentStepIndex + 1 }} of {{ steps.length || 1 }}
      </div>
    </mat-card-content>

    <mat-card-actions>
      @if (currentStepIndex < steps.length - 1) {
        <button
          mat-raised-button
          color="primary"
          [disabled]="nextDisabled"
          (click)="nextStep()"
        >
          Next
        </button>
      } @else {
        <a mat-button routerLink="/">Play For Real</a>
      }
    </mat-card-actions>
  </mat-card>
</ng-template>

<app-board [tutorialHeaderContents]="demoInstructions" #boardComponent></app-board>
