
.settings-container {
  padding: 20px;
}

.settings-title {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
}

.settings-section {
  margin-top: 60px;
}

section {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-bottom: 10px;
}
