<div
  [matMenuTriggerFor]="menu"
  class="menu-trigger"
  [matBadgeHidden]="!menuBadgeVisible"
  [matBadge]="menuBadgeLabel"
>
  <mat-icon>more_vert</mat-icon>
</div>
<mat-menu #menu="matMenu" class="app-menu">
  <button mat-menu-item routerLink="/">
    <mat-icon>grid_on</mat-icon>
    Game
  </button>

  @if (boardVisible) {
    <button
      mat-menu-item
      (click)="boardUiService.requestUndo()"
      [disabled]="!canUndo"
    >
      <mat-icon>undo</mat-icon>
      Undo
    </button>

    <button mat-menu-item (click)="requestStartOver()">
      <mat-icon>restart_alt</mat-icon>
      Start Board Over
    </button>

    <button mat-menu-item (click)="openNextGameFilter()">
      <mat-icon
        [matBadgeHidden]="!nextGameFilterEnabled"
        matBadge="on"
        matBadgePosition="after"
        aria-hidden="false"
        >filter_alt</mat-icon
      >
      <span class="filter-menu-label">
        Game Filter
        @if (
          nextGameFilterEnabled &&
          (nextGameFilterRangeLabel || nextGameFilterFpHidden)
        ) {
          <span class="filter-menu-label__summary">
            (
            @if (nextGameFilterFpHidden) {
              <span class="filter-menu-label__fp-plus">🚫FP+</span>
            }
            @if (nextGameFilterFpHidden && nextGameFilterRangeLabel) {
              &nbsp;
            }
            @if (nextGameFilterRangeLabel) {
              {{ nextGameFilterRangeLabel }}
            }
            )
          </span>
        }
      </span>
    </button>
  }

  <button mat-menu-item routerLink="/documentation">
    <mat-icon>book</mat-icon>
    Instructions
  </button>

  <button mat-menu-item routerLink="/sessions">
    <mat-icon>history_toggle_off</mat-icon>
    Session
  </button>

  <button mat-menu-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </button>

  <button mat-menu-item routerLink="/backup">
    <mat-icon>backup</mat-icon>
    Backup & Restore
  </button>

  <button mat-menu-item (click)="toggleColorMode()">
    <mat-icon>{{ currentColorMode.icon }}</mat-icon>
    {{ currentColorMode.label }}
  </button>

  <button mat-menu-item (click)="versionCheckService.refreshApp()">
    <mat-icon
      [matBadgeHidden]="!versionCheckService.isUpdateAvailable"
      matBadgePosition="before"
      matBadge="!"
      aria-hidden="false"
      aria-label="Notification"
      >refresh</mat-icon
    >
    <span>
      @if (versionCheckService.isUpdateAvailable) {
        Refresh (Update Available)
      } @else {
        Refresh
      }
    </span>
  </button>
</mat-menu>

<div class="page">
  <router-outlet></router-outlet>
</div>
