<app-celebration></app-celebration>

<div
  [matMenuTriggerFor]="menu"
  class="menu-trigger"
  [matBadgeHidden]="!versionCheckService.isUpdateAvailable"
  matBadge="1"
>
  <mat-icon>more_vert</mat-icon>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/">
    <mat-icon>grid_on</mat-icon>
    Game
  </button>

  @if (boardVisible) {
    <button
      mat-menu-item
      (click)="boardUiService.requestUndo()"
      [disabled]="!canUndo"
    >
      <mat-icon>undo</mat-icon>
      Undo
    </button>
  }

  <button mat-menu-item routerLink="/documentation">
    <mat-icon>book</mat-icon>
    How To Play
  </button>

  <button mat-menu-item routerLink="/settings">
    <mat-icon>settings</mat-icon>
    Settings
  </button>

  <button mat-menu-item routerLink="/backup">
    <mat-icon>backup</mat-icon>
    Backup & Restore
  </button>

  <button mat-menu-item (click)="toggleColorMode()">
    <mat-icon>{{ currentColorMode.icon }}</mat-icon>
    {{ currentColorMode.label }}
  </button>

  <button mat-menu-item (click)="versionCheckService.refreshApp()">
    <mat-icon
      [matBadgeHidden]="!versionCheckService.isUpdateAvailable"
      matBadgePosition="before"
      matBadge="!"
      aria-hidden="false"
      aria-label="Notification"
      >refresh</mat-icon
    >
    <span>
      @if (versionCheckService.isUpdateAvailable) {
        Refresh (Update Available)
      } @else {
        Refresh
      }
    </span>
  </button>
</mat-menu>

<div class="page">
  <router-outlet></router-outlet>
</div>
