<div class="page-container no-select">
  <div class="top-section">
    <div class="centered">
      <div class="top-controls">
        <div class="game-controls">
          <button
            matMiniFab
            class="game-button"
            [disabled]="gameNumber <= 1"
            (click)="updateGameNumber(gameNumber - 1)"
          >
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>

          <mat-form-field class="game-number">
            <mat-label>Game #</mat-label>
            <input
              matInput
              type="number"
              [ngModel]="gameNumber"
              (ngModelChange)="updateGameNumber($event)"
              min="1"
            />
          </mat-form-field>

          <button
            matMiniFab
            class="game-button"
            (click)="updateGameNumber(gameNumber + 1)"
          >
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>

        <div class="stats">
          <div style="display: inline-flex; align-items: center">
            <span>Mistakes: {{ mistakes }}</span>

            @if (!solvable) {
              &nbsp;&nbsp;&nbsp;
              <mat-icon style="color: light-dark(#ee0000, #ff3a3a)"
                >report_problem</mat-icon
              >
              <span>Unsolvable puzzle</span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="game-board-section">
    <div class="container">
      <table class="game-table">
        @for (row of gameBoard.fullBoard; track $index; let rowIndex = $index) {
          <tr>
            @for (cell of row; track $index; let colIndex = $index) {
              <td>
                @if (rowIndex === 0 && colIndex === 0) {
                  <ng-container *ngTemplateOutlet="blankCell"></ng-container>
                } @else if (
                  rowIndex === 0 || (rowIndex > 0 && colIndex === 0)
                ) {
                  <ng-container *ngTemplateOutlet="headerCell"></ng-container>
                } @else {
                  <ng-container *ngTemplateOutlet="standardCell"></ng-container>
                }

                <ng-template #blankCell>
                  <div class="cell"></div>
                </ng-template>

                <ng-template #headerCell>
                  <div class="cell bg-muted">
                    <div class="corner-number">
                      {{ cell.groupNumber }}
                    </div>
                    <div class="cell-number">{{ cell.value }}</div>
                  </div>
                </ng-template>

                <ng-template #standardCell>
                  <div
                    class="cell color-{{ cell.groupNumber }}"
                    [class.wiggle]="cell.isInvalid"
                    appHammerSwipe
                    (tap)="use(cell)"
                    (doubleTap)="clear(cell)"
                    (contextmenu)="clear(cell); $event.preventDefault()"
                    (swipeUp)="use(cell)"
                    (swipeDown)="clear(cell)"
                  >
                    <div class="corner-number bg-muted">
                      {{ cell.colorGroupGoalDisplayValue }}
                    </div>
                    <div
                      class="cell-number"
                      [class.circle]="cell.status === SelectionStatus.SELECTED"
                    >
                      @if (cell.status !== SelectionStatus.CLEARED) {
                        {{ cell.value }}
                      }
                    </div>
                  </div>
                </ng-template>
              </td>
            }
          </tr>
        }
      </table>
    </div>
  </div>
</div>
