<div class="page-container no-select">
  <div class="top-section">
    <app-title></app-title>

    <div class="centered">
      <div class="top-controls">
        <div class="game-controls">
          <button
            matMiniFab
            class="game-button"
            [disabled]="gameNumber <= 1"
            (click)="changeGameNumberFromUi(gameNumber - 1)"
          >
            <mat-icon>do_not_disturb_on</mat-icon>
          </button>

          <mat-form-field class="game-number" subscriptSizing="dynamic">
            <mat-label>Game #</mat-label>
            <input
              matInput
              type="number"
              [ngModel]="gameNumber"
              (ngModelChange)="changeGameNumberFromUi($event)"
              min="1"
            />
          </mat-form-field>

          <button
            matMiniFab
            class="game-button"
            (click)="changeGameNumberFromUi(gameNumber + 1)"
          >
            <mat-icon>add_circle</mat-icon>
          </button>

          @if (devMode) {
            <div class="dev-controls">
              <button
                matMiniFab
                class="game-button"
                (click)="autoCompleteGame()"
              >
                <mat-icon>auto_fix_high</mat-icon>
              </button>
            </div>
          }
        </div>

        <div class="stats">
          <app-stats [stats]="stats"></app-stats>
        </div>

        <div class="estimated">
          <app-estimated-difficulty
            [playArea]="
              !gameBoard.isComplete() ? gameBoard.playArea : undefined
            "
            [gameNumber]="gameNumber"
          ></app-estimated-difficulty>
        </div>
      </div>
    </div>
  </div>

  @if (nextGameButtonState !== "hidden") {
    <div
      class="next-game-container"
      [class.animate]="nextGameButtonState === 'show-animated'"
    >
      @if (nextGameButtonState === "show-instant") {
        <h2>Game {{ gameNumber }} Already Played.</h2>
      }

      <div>
        <button matFab extended (click)="playGameAgain()">
          <mat-icon>sports_esports</mat-icon>
          Play Game {{ gameNumber }} Again
        </button>
        &nbsp;&nbsp;
        <button matFab extended (click)="platNextUnfinishedGame()">
          <mat-icon>skip_next</mat-icon>
          Next Game
        </button>
      </div>
    </div>
  }

  @if (!solvable) {
    <div class="unsolvable">
      <mat-icon style="color: light-dark(#ee0000, #ff3a3a)"
        >report_problem</mat-icon
      >
      <span>Unsolvable puzzle</span>
    </div>
  }

  <div class="game-board-section">
    <div class="container">
      <table class="game-table">
        @for (row of gameBoard.fullBoard; track $index; let rowIndex = $index) {
          <tr>
            @for (cell of row; track $index; let colIndex = $index) {
              <td
                [class.shape-border-top]="
                  shapesMode && !cell?.hideBackground && cell?.borderTop
                "
                [class.shape-border-left]="
                  shapesMode && !cell?.hideBackground && cell?.borderLeft
                "
                [class.shape-border-right]="
                  shapesMode && !cell?.hideBackground && cell?.borderRight
                "
                [class.shape-border-bottom]="
                  shapesMode && !cell?.hideBackground && cell?.borderBottom
                "
              >
                @if (rowIndex === 0 && colIndex === 0) {
                  <app-cell
                    [displayType]="'blank'"
                    [columnCount]="columnCount"
                    [shapesMode]="shapesMode"
                  ></app-cell>
                } @else if (
                  rowIndex === 0 || (rowIndex > 0 && colIndex === 0)
                ) {
                  <app-cell
                    [displayType]="'header'"
                    [cell]="cell"
                    [columnCount]="columnCount"
                    [shapesMode]="shapesMode"
                    [disableAnimation]="disableAnimations"
                  ></app-cell>
                } @else {
                  <app-cell
                    [displayType]="'standard'"
                    [cell]="cell"
                    [columnCount]="columnCount"
                    [shapesMode]="shapesMode"
                    [disableAnimation]="disableAnimations"
                    (used)="use($event)"
                    (cleared)="clear($event)"
                  ></app-cell>
                }
              </td>
            }
          </tr>
        }
      </table>
    </div>
  </div>
</div>
