:host {
  --headerSpacing: calc(14cqmin / var(--columnCount));
  --cellGap: calc(7cqmin / var(--columnCount));
}


.page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.top-section {
  flex: 0 0 auto;
}

.game-board-section {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 0;
  container-type: size;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 20px;
}

.centered {
  display: flex;
  justify-content: center;
}

.top-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.game-number {
  max-width: 91px;
}

.game-button {
  margin-left: 5px;
  margin-right: 5px;
}

.stats {
  justify-self: center;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.dev-controls {
  display: inline-flex;
  align-items: center;
}

.next-game-container {
  text-align: center;
  overflow: hidden;
  animation: expand-view 1.0s ease-in-out forwards;
}

@keyframes expand-view {
  from {
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  to {
    max-height: 80px;
    opacity: 1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.unsolvable {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: -10px;
}

.container {
  width: 100%;
  height: 100%;
  max-width: min(100%, 100cqh); // Square aspect ratio constraint
  max-height: min(100%, 100cqw);
  line-height: normal;
}

.previously-completed {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-flow: column;
}

.game-table {
  border-collapse: collapse;
  border-spacing: 0;

  td,
  th {
    padding: 0;
  }

  td {
    position: relative;
  }

  tr:first-child td {
    padding-bottom: var(--headerSpacing);
  }

  td:first-child {
    padding-right: var(--headerSpacing);
  }

  tr:not(:first-child):not(:last-child) td {
    padding-bottom: var(--cellGap);
  }

  td:not(:first-child):not(:last-child) {
    padding-right: var(--cellGap);
  }

}


.game-table td::after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--cellGap));
  left: calc(-1 * var(--cellGap));
  width: calc(100% + var(--cellGap));
  height: calc(100% + var(--cellGap));
  z-index: 1;
  pointer-events: none;
  box-sizing: border-box;
  border-style: solid;
  border-color: var(--mat-sys-on-surface-variant);
  border-width: 0;
}

.game-table td.shape-border-top::after {
  border-top-width: var(--cellGap);
}

.game-table td.shape-border-left::after {
  border-left-width: var(--cellGap);
}

.game-table td.shape-border-right::after {
  border-right-width: var(--cellGap);
}

.game-table td.shape-border-bottom::after {
  border-bottom-width: var(--cellGap);
}