.estimated-difficulty {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 0.95rem;

  .row {
    display: flex;
    align-items: baseline;
    gap: 6px;
  }
}

.warning-icon {
  color: light-dark(#ee0000, #ff3a3a);
  font-size: 1em;
  height: unset;
  width: unset;
  margin-bottom: -0.15em;
  margin-right: 0.2em;
  margin-left: 0.1em;
}